@using Infisical.Sdk

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@Environment.GetEnvironmentVariable("INFISICAL_PROJECT_ID")</p>
<p>@Environment.GetEnvironmentVariable("INFISICAL_PROJECT_ENV")</p>

<!--
<p>Secret: @_secret.SecretValue</p>
-->

@code {
    [Inject]
    InfisicalClient InfisicalClient { get; set; }

    GetSecretResponseSecret _secret;

    protected override async Task OnInitializedAsync()
    {
        var options = new GetSecretOptions
        {
            SecretName = "POSTGRE_CONNECTION_STRING",
            ProjectId = Environment.GetEnvironmentVariable("INFISICAL_PROJECT_ID"),
            Environment = Environment.GetEnvironmentVariable("INFISICAL_PROJECT_ENV")
        };

        _secret = InfisicalClient.GetSecret(options);
    }
}